

  body.light-mode {
    background-color:white;
    color: black;
  }
  
  body.dark-mode {
    background-color: black;
    color: white;

    ul{
        background: black;
        color:white
    }
    .menu li:hover{
        background:rgb(21, 21, 21)
    }
  }

