
.myli{
    text-decoration: none;
    color: orange;
    font-weight: 400;
    padding:8px;
} 


.myli:hover{
   
    background-color: rgb(244, 239, 244);
    /* border:1px solid gray; */
    color:black;
    border-radius: 10px;
    cursor:pointer
}